name: Benthos checks

"on":
  push:
    branches:
      - main # Set a branch to deploy
  pull_request:

jobs:
  benthos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
      - name: Run the checks
        run: |
          cd meshtastic_benthos && ./test_meshtastic_conf.sh
